/* general */

body, html {
    font-family: 'Inter', sans-serif;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* header */

header {
    padding: 20px;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.nav {
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 16px;
  }

.nav .icon {
    display: none;
  }

.logo img {
    width: 100px;
    height: 50px;
}

header p {
    padding: 0 20px;
    margin: 0;
    font-size: 17px;
    color:#000000;
}

header a:link {
    color: #000000;
}

header a:visited {
    color: #000000;
}

header a:hover, footer a:link {
    color: #5A7C58;
}

header a:active {
    color: #000000;
    text-decoration: underline;
}

/* main content */

pre {
    white-space: normal;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    margin: 0;
    color: #000000;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 0;
    color: #000000;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #000000;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #686666;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    white-space: pre;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 0;
    color: #5A7C58;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: #000000;
    line-height: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

p a:link {
    color: #5A7C58;
}

p a:visited {
    color: #5A7C58;
}

.column1 {
    font-family: 'Inter', sans-serif;
    font-size: 0.5vw;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    width: 25%
}

.column2 {
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
    float: left;
    width: 50%
}

ul {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: #000000;
    line-height: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.amacssCoverPic {
    position: relative;
    display: flex;
    height: 30%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.persona {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 42%;
    width: 75%;
}

.illustrations {
    position: relative;
    display: inline-flex;
    height: 19%;
    width: 33%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1%;
    margin-right: 0;
}

.gif {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12%;
    width: 25%;
}

.sketch {
    position: relative;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 33%;
    width: 100%;
}

.interaction {
    position: relative;
    display: flex;
    padding-left: 0;
    padding-right: 4%;
    height: 57%;
    width: 100%;
}

.visuals {
    position: relative;
    display: block;
    height: 40%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    position: relative;
    display: block;
    height: 100%;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
}

.casewareDesign {
    position: relative;
    display: flex;
    height: 39%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.illo {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
}

.illo img {
    position: relative;
    width: 50%;
    height: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 5%;
}

/* footer */

footer {
    color:#000000;
    background-color: #ffffff;
    height: 30%;
}

footer a:link {
    color: #5A7C58;
    margin-right: 2%;
}

footer a:visited {
    color: #5A7C58;
}

footer p {
    font-size: 17px;
    text-align: left;
    font-weight: 300;
    padding-left: 5%;
}

h6 {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-weight: 500;
}

.links {
    font-size: 17px;
    padding-left: 5%;
}

.credits {
    font-size: 13px;
    font-weight: 300;
    padding-left: 5%;
}